        @font-face {
            font-family: "Golos Text";
            src: url("../../../assets/GolosText.ttf");
        }
        body {
            margin: 0;
            padding: 0;
            background-color: #0f0f0f;
            color: #ffffff;
            height: 100%;
            overflow: hidden;
        }
        * {
            font-family: "Golos Text";
            font-smooth: 2em;
            user-select: none;
        }
        #container {
            padding: 5px 5px;
        }
        .vertical-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .grey-text {
            color: grey;
            margin-left: 10px;
        }
        .vertical-list li {
            cursor: pointer;
            padding: 5px 5px;
        }
        a {
            color: #ffffff;
        }