        @font-face {
            font-family: "Golos Text";
            src: url("../../../assets/GolosText.ttf");
        }
        body {
            margin: 0;
            padding: 0;
            background-color: #0f0f0f;
            color: #ffffff;
            height: 100%;
            margin-left: 10px;
        }
        * {
            font-family: "Golos Text";
            font-smooth: 2em;
            user-select: none;
        }
        #container {
            padding: 5px 5px;
        }
        .vertical-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .grey-text {
            color: grey;
            margin-left: 10px;
        }
        .vertical-list li {
            cursor: pointer;
            padding: 5px 5px;
        }
        #clear-browsing-data {
            padding: 12px 12px;
            color: #ffffff;
            background-color: #1b1b1b;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            font-size: 15px;
            position: fixed;
            right: 20px;
            top: 20px;
        }