        @font-face {
            font-family: "Golos Text";
            src: url("../../../assets/GolosText.ttf");
        }
        body {
            margin: 0;
            padding: 0;
            background-color: #0f0f0f;
            color: #ffffff;
            height: 100%;
            overflow: hidden;
        }
        * {
            font-family: "Golos Text";
            font-smooth: 2em;
            user-select: none;
        }
        #container {
            padding: 5px 5px;
        }
        .vertical-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .grey-text {
            color: grey;
            margin-left: 10px;
        }
        .vertical-list li {
            cursor: pointer;
            padding: 5px 5px;
        }
        #orb-sentinel {
            background-color: #181818;
            padding: 8px 8px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
        }
        #orb-settings {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            width: 100%;
            align-items: flex-start;
        }
        .setting-icon {
            width: 14px;
            height: 14px;
            margin-right: 8px;
            /*
            Source - https://stackoverflow.com/a
            Posted by Oriol, modified by community. See post 'Timeline' for change history
            Retrieved 2026-01-23, License - CC BY-SA 3.0
            */
            filter: brightness(0) invert(1);
        }
        .setting-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 18px 20px;
            min-width: 600px;
            max-width: 600px;
            margin-bottom: 0;
            width: 100%;
        }
        .setting-toggle {
            align-self: flex-end;
            margin-top: 0;
            width: 100px;
            height: 40px;
            font-size: 12px;
        }
        .light-up-toggle {
            border-color: #0066ff;
        }
        .light-up-toggle:hover {
            border-color: #00aeff;
        }
        button {
            padding: 8px 8px;
            background-color: #00000000;
            color: #ffffff;
            border-radius: 8px;
            border: 1px solid #ffffff5e;
        }
        button:hover {
            border: 1px solid #ffffff27;
        }
        .light-up-toggle {
            border-color: #0066ff;
        }
        .light-up-toggle:hover {
            border-color: #00aeff;
        }